@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #161516;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: normal;
}

.page-title {
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 70px;
    margin-top: 54px;
    margin-bottom: 81px;
}